<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>./build/logs/integration-test.log</file>
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="com.soagrowers">
        <level value="DEBUG"/>
    </logger>

    <logger name="org.axonframework">
        <level value="INFO"/>
    </logger>

    <logger name="com.jayway">
        <level value="DEBUG"/>
    </logger>

    <logger name="org.junit">
        <level value="DEBUG"/>
    </logger>

    <logger name="org.apache.http">
        <level value="DEBUG"/>
    </logger>

    <logger name="org.springframework">
        <level value="DEBUG"/>
    </logger>

    <root>
        <level value="INFO"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>